body {
background-color: forestgreen;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
}

#btn_1 {
width: 96px;
height: 48px;
font-size: 24px;
border-radius: 10px;
}

#btn_2 {
    width: 96px;
    height: 48px;
    font-size: 24px;
    border-radius: 10px;
}

#p1{
    padding-left: 20%;
    padding-top: 50px;
}

#p2{
    padding-left: 20%;
    padding-top: 60px;
}